* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Calibri', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

.main {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, #02C3BD, #4E148C);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main h1 {
    font-size: 45px;
    font-weight: 500;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #fff;
}

.main h1 span {
    color: #0600ab
}

textarea {
    width: 500px;
    height: 250px;
    background: rgba(6, 0, 171, 0.2);
    color: #fff;
    font-size: 15px;
    border: 0;
    outline: 0;
    padding: 20px;
    border-radius: 10px;
    resize: none;
    margin-bottom: 30px;
}

textarea::placeholder {
    color: #ddd;
    font-size: 16px;
}

.row {
    width: 500px;
    display: flex;
    align-items: center;
    gap: 20px;
}

button {
    background: #0600ab;
    color: #fff;
    font-size: 16px;
    padding:  10px 30px;
    border-radius: 35px;
    border: 0;
    outline: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
}

button svg {
    color: #fff;
    width: 16px;
    margin-right: 10px;
}

select {
    flex: 1;
    color: #fff;
    background: rgba(6, 0, 171, 0.5);
    height: 50px;
    padding: 0 20px;
    outline: 0;
    border: 0;
    border-radius: 35px;
    appearance: none;
    background-image: url(Images/chevron-down.svg);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position-x: calc(100% - 20px);
    background-position-y: 20px;
}